.about-me-section {
  display: flex;
  flex-direction: row; /* Certifique-se de que este estilo está correto */
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 40px 20px;
  background-color: #f4f7fc;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.my-avatar-section {
  margin-right: 20px; /* Ajuste a margem para o espaçamento desejado */
}

.my-avatar {
  width: 400px; /* Certifique-se de que o tamanho desejado está correto */
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  max-width: 600px;
}
