body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #3b5f6a60;
    color: #fff;
    padding: 10px 20px;
}

h1 {
    font-size: medium;
    justify-content: center;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

nav button {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
}

nav button.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #3b5f6a60;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

#my-avatar{
width: 200px;
}

#icone{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}