body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #3b5f6a60;
    color: #fff;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: medium;
    justify-content: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 8px;
}

nav button {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

nav button.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

/* home page main content */
main {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.about-me-section {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.my-avatar {
    width: 200px;
}

.about-me-description {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}
/* end of home page main content */

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #3b5f6a60;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
}

footer a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

#icone {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* mobile responsive home page main content */
@media (max-width: 600px) {
    header {
        min-width: 350px;
        font-family: 'Poppins', sans-serif;
    }

    nav {
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
    }

    .about-me-section {
        flex-direction: column; /* Altere isso se quiser que a imagem e o texto fiquem em coluna no mobile */
        align-items: center;
        text-align: center;
    }

    .my-avatar {
        width: 300px; /* Ajuste o tamanho para ser responsivo */
        margin-bottom: 20px;
    }

    .about-me-description {
        margin-left: 0; /* Remova a margem no mobile para centralizar o texto */
    }
}
/* end of home page main content */
